<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Synonym search
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let item of items | async">
      Syno: {{ item.syno }} | Word: {{ item.word }}
    </ion-item>
  </ion-list>

</ion-content>